# Archivos de caché y compilación de Python
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/
.mypy_cache/

# Entornos virtuales
venv/
env/
.venv/

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride

# Archivos de IDEs (Entornos de Desarrollo Integrado)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de datos generados durante las pruebas (si los hubiera)
# resultados_pruebas.txt
# .db

# Archivos de logs
*.log

# Archivos temporales
*~
*.swp
*.tmp

# Archivos de configuración con información sensible (si los tuvieras)
# config.ini
# settings.py
